<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/admin/Documents/AutoBots">

        <parameter name="browser" value="chrome"/>
        <parameter name="username" value="admin"></parameter>
        <parameter name="password" value="1234"></parameter>

<!--        <groups>-->
<!--            <run>-->
<!--                <include name="loginTest"/>-->
<!--            </run>-->
<!--        </groups>-->
<classes>
    <class name="com.autobots.java.testng.ParametersDemo"></class>
</classes>
<!--        <packages>-->
<!--            <package name="com.autobots.java.*"/>-->
<!--        </packages>-->
    </test>
</suite>